<br>

<%= image_tag "adobe-illustrator-cc.svg", title: "JQ initials", width: "10%" %>

<br>
<br>
<br>

<h1>Do either of these images appear? </h1>

<br>
<br>
<br>

<img src="assets/adobe-illustrator-cc.svg" style="width:10%">
