<br>

<%= image_tag "adobe-illustrator-cc.svg", title: "JQ initials", width: "10%" %>

<br>
<br>
<br>

<h1>Do either of these images appear? </h1>

<br>
<br>
<br>

<img src="assets/adobe-illustrator-cc.svg" style="width:10%">




  <section id="hero-image" style="margin-bottom:30px">
    <div class="container">

<!-- Would like to play with this container id, forcing navbar to bottom of page:
      id="schnook" -->

        <div class="row hero-row">
            <div class=" col-md-8 offset-md-2 text-center hero-image">
                <%= image_tag("jqberry-logo-no-name.svg", title: "JQ logo") %>
            </div>
        </div>
    </div>
  </section>
  <!-- end hero-image -->


  <div class="section-title" style="margin-top:40px; margin-bottom:55px">
    <h1>Software developer</h1>
  </div>
  <div class="section-title" style="margin-bottom:55px">
    <h1>UI/UX consultant</h1>
  </div>
  <div class="section-title" style="margin-bottom:55px">
    <h1>Information designer</h1>
  </div>
